
/*나눔 고딕 텍스트*/
@font-face {
    font-family:'NanumGothic';
    src: url('images/NanumGothic.eot');
    src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('images/NanumGothic.woff') format('woff'),
         url('images/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* body css */
body{padding-top: 20px; padding-left: 20px; padding-right: 20px;margin: 0px auto; padding-bottom: 80px;} 
    
/* 밑줄 */    
hr {margin-left: 25px; margin-right: 25px;}

/* 링크 */
a{color: blue; text-decoration-style: none;}

/*메인*/

#index_text{text-align: center; font-size: 16px; word-spacing:0.5px; letter-spacing: 1px;}


/* repot text */

/*주제 제목*/
#big_title{text-align: center;margin-bottom: 0px;}
/*주제 소제목*/
#small_title{text-align: center; margin-top: 0px;}

/*내용*/
#content{margin-left: 25px; margin-right: 30px; text-align: left; font-size: 13px; word-spacing:1.5px; letter-spacing: 1px;}
/*소제목*/
#h1_title{margin-left: 25px; margin-right: 20px; text-align: left; font-size: 20px; word-spacing:1px; letter-spacing: 1px;}


/*play text*/
#play_box{
	background-color: white;
	margin: 45px;
	padding-bottom: 80px;
}
#play_image {
  float: right;
  padding-bottom: 5px;
  padding-left: 7px;
  height: 150px;
}

/*제목*/
#play_title{font-family: 'NanumGothic'; font-size:65px; color: black; text-align: center; word-spacing:10px; letter-spacing: 25px;}


/*내용 크기 확인용*/
#no_box{background: red; opacity: 0.3; height: 280px;}


/* 테이블 css */
table{margin-left: auto; margin-right: auto; border: solid 1px black; text-align: center; font-size: 13px; word-spacing:1.5px; letter-spacing: 1px;}
tr{border: solid 1px gray; text-align: center; font-size: 13px; word-spacing:1px; letter-spacing: 0.5px;}
th, td{border: solid 1px gray; text-align: center; font-size: 13px; word-spacing:1px; letter-spacing: 0.5px;}
