/* body css */
body{padding-top: 20px; padding-left: 20px; padding-right: 20px;margin: 0px auto;} 
    
/* 밑줄 */    
hr {margin-left: 25px; margin-right: 25px;}

/* 링크 */
a{color: blue; text-decoration-style: none;}

/* 메인 text */
#index_text{text-align: center; font-size: 16px; word-spacing:0.5px; letter-spacing: 1px;}


/* 내용 text */
#big_title{text-align: center;margin-bottom: 0px;}
#small_title{text-align: center; margin-top: 0px;}

#content{margin-left: 25px; margin-right: 30px; text-align: left; font-size: 13px; word-spacing:1.5px; letter-spacing: 1px;}
#h1_title{margin-left: 25px; margin-right: 20px; text-align: left; font-size: 20px; word-spacing:1px; letter-spacing: 1px;}


/*내용 크기 확인용*/
#box{background: red; opacity: 0.3; height: 280px;}


/* 테이블 css */
table{margin-left: auto; margin-right: auto; border: solid 1px black; text-align: center; font-size: 13px; word-spacing:1.5px; letter-spacing: 1px;}
tr{border: solid 1px gray; text-align: center; font-size: 13px; word-spacing:1px; letter-spacing: 0.5px;}
th, td{border: solid 1px gray; text-align: center; font-size: 13px; word-spacing:1px; letter-spacing: 0.5px;}